body {
    background-color: whitesmoke;
  }

/* Navbar */
  .topnav {
    float: right;
      overflow: hidden;
      background-color: rgb(4, 168, 18);
      width: 85%;
      margin-top: 4.2%;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: #ffffff;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .active {
      background-color:  rgb(31, 106, 190);
      color: white;
    }
    
    .topnav .icon {
      display: none;
    }
    
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 17px;    
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .topnav a:hover, .dropdown:hover .dropbtn {
      background-color: rgb(32, 124, 160);
      color: white;
    }
    
    .dropdown-content a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    

.Description {
  text-align:Center;
}

/* Footer */
.FooterContainer {
  clear: both;
 padding-bottom: 1em;
 text-align: center;
}
.SocialMedia {
  background-color: white;
  width: 50%;
  color: black;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10%;
  float: left;
  text-align: center;
  
}
.Information {
  background-color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
  padding: 0px;
  height: 760px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.columnone {
  float: left;
  width: 50%;
  padding: 0px;
  height: 988px; 
}

.rowone:after {
  content: "";
  display: table;
  clear: both;
}